*{ 
 font-family: Arial, Helvetica, sans-serif;
}
.hello{

    background-image: url(download\ \(1\).jpeg);

}
body{

    color: rgb(183, 141, 56);

}
input[type="text"],
input[type="email"],
textarea {
    background-color: rgba(253, 247, 251, 0.153);
    padding: 7px;
    margin: 10px;
    border: 2px solid black;

}
div h1,h3{
    text-align: center;
    color: beige;
    padding: 17px;
} 
input[type="submit"]{
    color: rgb(201, 201, 207);
    background-color: rgb(54, 94, 94);
    padding: 12px;
    margin: 40px;
    cursor: pointer;
    border: none;
    width: 150px;
}
input[type="submit"]:hover{ list-style-image: url();
    color: blanchedalmond;
    background-color: red;

}
